#editor {
  position: relative;
  width: 940px;
  height: 400px; //  margin-left: 10px;
}

.buttons_row {
  margin-top: 10px;
}

.lead-header {
  margin-top:40px;
  h1 {
    font-size: 70px;
    line-height: 1.0;
    color: gray;
  }

  img.logo {
    float: right;
  }
}

.alert-inline {
  display: inline-block;
}